<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="col-md-12 d-flex justify-content-center mt-5" *ngIf="isLoading">
                <mat-spinner diameter="50"></mat-spinner>
            </div>
            <div class="container mt-4" *ngIf="ticker && companyName">
                <div class="alert alert-success d-flex align-items-center justify-content-between"
                    *ngIf="showSuccessBanner" style="border: 1px solid darkgreen; padding: 0.70rem 1rem;">
                    <div class="col-md-12 d-flex justify-content-center">
                        <span style="color: black; font-size: 14px;">{{ ticker.toUpperCase() }} added to
                            watchlist</span>
                    </div>
                    <button type="button" class="close no-border mr-5" aria-label="Close"
                        (click)="dismissSuccessBanner()"
                        style="background-color: transparent; font-size: 20px; padding: 0;">
                        <span aria-hidden="true" class="fas fa-times text-muted mr-5"
                            style="margin-left: -10px;"></span>
                    </button>
                </div>
                <div *ngIf="tradeStockMessage">
                    <div  [ngClass]="{'alert-success': alertTypeBuy === 'buy', 'alert-danger': alertTypeBuy === 'sell'}" class="alert">
                        {{ tradeStockMessage }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>  
                    </div>
                <div class="row">
                    <!-- Left Side Column -->
                    <div class="col-md-4" *ngIf="ticker && companyName"> <!-- Adjust margin-bottom as needed -->
                        <div class="text-center">
                            <h1 style="margin-bottom: 0px;font-size: 30px;">
                                {{ ticker.toUpperCase() }}
                                <button class="btn-star no-border" (click)="updateFavorites(ticker, companyName)"
                                    *ngIf="!isFavorite">
                                    <i class="far fa-star mb-1" style="font-size: 1rem; padding: 0;"></i>
                                </button>
                                <button class="btn-star no-border" (click)="updateFavorites(ticker)" *ngIf="isFavorite">
                                    <i class="fas fa-star mb-1" id="favoriteChecker"
                                        style="font-size: 1rem; padding: 0; color: rgb(230, 222, 9);"></i>
                                </button>
                            </h1>
                            <h2 style="margin-bottom: 3px;">{{ companyName }}</h2>
                            <p class="small" style="margin-bottom: 5px;">{{ exchangeCode }}</p>
                            <div class="mt-2">
                                <button (click)="portfolioDisplay(true)" class="btn btn-success shadow-none btn-no-caps " style="margin-right:3px;">Buy</button>
                                <button (click)="portfolioDisplay(false)" *ngIf="isHolding" class="btn btn-danger shadow-none btn-no-caps">Sell</button>
                            </div>
                        </div>
                    </div>

                    <!-- Middle Column -->
                    <div class="col-md-4">
                        <div class="text-center">
                            <img [src]="companyLogo" alt="Company Logo" class="img-fluid" style="max-height: 100px;">
                            <div class="mt-md-5 text-danger" *ngIf="marketClosed">
                                <!-- Adjusted margin for medium and larger devices -->
                                Market Closed on {{ timestamp | date: 'yyyy-MM-dd HH:mm:ss' }}
                            </div>
                            <div class="mt-md-5 text-success" *ngIf="!marketClosed">
                                <!-- Adjusted margin for medium and larger devices -->
                                Market is Open
                            </div>
                        </div>
                    </div>
                    <!-- Right Side Column -->
                    <div class="col-md-4">
                        <div class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <h1 [ngClass]="{'text-success': change >= 0, 'text-danger': change < 0}"
                                    style="margin-bottom: 0px; font-size: 34px;">{{ lastPrice }}</h1>
                            </div>
                            <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 0px;">
                                <i *ngIf="change >= 0; else down" class="fa fa-caret-up text-success"
                                    style="font-size: 20px;"></i>
                                <ng-template #down>
                                    <i class="fa fa-caret-down text-danger" style="font-size: 20px;"></i>
                                </ng-template>
                                <h2 [ngClass]="{'text-success': change >= 0, 'text-danger': change < 0}"
                                    style="margin-left: 5px; margin-bottom: 0px;">{{ change }}</h2>
                                <h2 [ngClass]="{'text-success': change >= 0, 'text-danger': change < 0}"
                                    style="margin-left: 5px; margin-bottom: 0px;">({{ changePercent | number:'1.2-2'
                                    }}%)</h2>
                            </div>
                            <div class="d-flex justify-content-center" style="margin-top: 0px;">
                                <p class="small">{{ timestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row mt-4">
                    <!-- Summary View -->
                    <mat-tab-group mat-align-tabs="center dynamicHeight mat-stretch-tabs" *ngIf="ticker && companyName">
                        <mat-tab label="Summary">
                            <div class="container-fluid"> <!-- Ensuring the container spans the entire width -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="ml-3"> <!-- Add left margin -->
                                            <div class="price-info">
                                                <h3><strong>High Price:</strong> {{ highPrice }}</h3>
                                                <h3><strong>Low Price:</strong> {{ lowPrice }}</h3>
                                                <h3><strong>Open Price:</strong> {{ openPrice }}</h3>
                                                <h3><strong>Prev. Close:</strong> {{ prevClosePrice }}</h3>
                                            </div>
                                        </div>
                                        <div class="ml-5"> <!-- Add bigger left margin -->
                                            <div class="company-deets">
                                                <h3><strong><u>About the Company:</u></strong></h3>
                                                <p><strong>IPO Start Date:</strong> {{ ipoStartDate }}</p>
                                                <p><strong>Industry:</strong> {{ industry }}</p>
                                                <p><strong>Webpage:</strong> <a [href]="webpage" target="_blank">{{ webpage }}</a></p>
                                                <p><strong>Company Peers:</strong></p>
                                                <p>{{ companyPeers }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mt-2">
                                            <highcharts-chart [Highcharts]="hourlyCharts" [options]="hourlyOptions"
                                                [constructorType]="hourlyConstructor"
                                                style="width: 100%; height: 325px; display: block;">
                                            </highcharts-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        
                        <mat-tab label="Top News">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6" *ngFor="let item of news?.news; let i = index;"
                                        (click)="openNewsCard(item)">
                                        <div class="custom-card">
                                            <div class="row align-items-center">
                                                <div class="col-md-4 order-md-1"> <!-- Image Column -->
                                                    <div class="card-img-container">
                                                        <img [src]="item.image" alt="News Image" class="card-img">
                                                    </div>
                                                </div>
                                                <div class="col-md-8 order-md-2"> <!-- Title Column -->
                                                    <div class="card-body text-center text-md-start">
                                                        <!-- Center align text, start align on medium devices and above -->
                                                        <h5 class="card-title">{{ item.title }}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>


                        <mat-tab label="Charts">
                            <div class="container-fluid"> <!-- Ensuring the container spans the entire width -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="height: 600px;"> <!-- Adjust height as needed -->
                                            <highcharts-chart [Highcharts]="chartTab" [options]="chartTabOptions"
                                                [constructorType]="chartTabConstructor"
                                                style="width: 100%; height: 100%;">
                                            </highcharts-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        
                        <mat-tab label="Insights">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 text-center">
                                    <h2 class="m-0 mb-2">Insider Sentiments</h2>
                                    <table class="table mx-auto mb-2" style="table-layout: fixed; width: 100%;">
                                        <tr>
                                            <th>{{companyName}}</th>
                                            <th>MSPR</th>
                                            <th>Change</th>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td>{{totalMSPR}}</td>
                                            <td>{{totalChange}}</td>
                                        </tr>
                                        <tr>
                                            <th>Positive</th>
                                            <td>{{positiveMSPR}}</td>
                                            <td>{{positiveChange}}</td>
                                        </tr>
                                        <tr>
                                            <th>Negative</th>
                                            <td>{{negativeMSPR}}</td>
                                            <td>{{negativeChange}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <highcharts-chart [Highcharts]="recommendCharts" [options]="recommendOptions"
                                        style="width: 100%; height: 325px; display: block;">
                                    </highcharts-chart>
                                </div>
                                <div class="col-md-6">
                                    <highcharts-chart [Highcharts]="surpriseCharts" [options]="surpriseOptions"
                                        style="width: 100%; height: 325px; display: block;">
                                    </highcharts-chart>
                                </div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>