footer {
    background-color: #cad1d8;
    text-align: center;
  }
  
  .footer-content {
    font-size: 12px;
    margin-top: 7px;
  }
  
  .footer-content a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }

  