<form action="/action_page.php">
    <div class="row justify-content-center mb-3 mt-3">
        <div class="col-md-5 mt-4">
            <div class="rounded-pill border border-2" style="--bs-border-color: #1d279d;">
                <div class="input-group">


                    <input type="text" class="form-control form-control-sm border-0 no-outline" [(ngModel)]="ticker"
                         [matAutocomplete]="auto" [formControl]="queryField" 
                        placeholder="Enter stock ticker symbol">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngIf="isLoading">
                            <mat-spinner diameter="50"></mat-spinner>
                            ABE YAAR DIKH JA LAUDE
                        </mat-option>
                        <mat-option *ngFor="let result of results" [value]="result" (click)="selectResult(result)">
                            {{result.displaySymbol}} | {{result.description}}
                        </mat-option>
                    </mat-autocomplete>
                    <button class="btn btn-outline-secondary" type="button" style="color: #1d279d; border: none;"
                        (click)="searchStockData($event)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0">
                            </path>
                        </svg>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" style="color: #1d279d; border: none;"
                        (click)="clearTicker()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<div *ngIf="tickerService.ticker">
    
    <app-stock-details></app-stock-details>
</div>